<!DOCTYPE html>

<!-- URL's para a importação do thymeleaf-->

<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
	
		<meta charset="utf-8">
		<title>Produtos APP</title>
		
	</head>
	
	<body>
	
		<h1>Cadastro de Produtos</h1>
		
		<form method="post" action="">
		
			Nome:<input type="text" value="" name="nome" /><br><br>
			Preço:<input type="text" value="" name="preco" /><br><br>
			Marca:<input type="text" value="" name="marca" /><br><br>
			Descrição<input type="text" value="" name="descricao" size="10" /><br><br>
		
			<button type="submit">Salvar</button>
		
		</form>
	
	</body>
	
</html>